<div class="about-wrapper row-spacing">
    <p class="m-title about t1">
        <b>Hello!</b> Nice to see you dropping by my website to find out more about me.
    </p>
    <p class="m-title about t2">
        I'm a <b>Frontend Engineer</b> with <b>3.5 years</b> of experiance in the developer role, with prior <b>6 years</b> working as <b>QA Engineer</b>.
    </p>
    <p class="m-title about t1">
        I have gained a lot of experience working using <b>Scrum and Kanban</b> project management methodologies. Mostly in an agile scrum environment, but as you can see, some time was spent in kanban style as well, it really depends on the business needs.</p>
    <p class="m-title about t2">
        From projects I have had my hands on, it mostly leans toward large enterprise solutions with <b>complex architecture and millions of users</b>. That involves both, internal and external applications, lets not forget that internal tools should be kept in a pretty good state as well.
    </p>
    <p class="m-title about t1">
        Team structures have been different throughout my career, it can shift from being part of a large development team to being the only dedicated frontend developer in the company. 
    </p>
    <p class="m-title about m0">
        My technology focus:
    </p>
    <div class="bubbles">
        <span class="bubble">Angular</span>
        <span class="bubble">TypeScript</span>
        <span class="bubble">JavaScript</span>
        <span class="bubble">HTML & CSS</span>
    </div>
</div>