<p class="m-title relaxed">Enthusiastic guy with 9 years of experience in the IT industry. I started my IT carrier by
    working in the Quality Assurance specialty for 6 years, it all began with manual testing, but soon after that I
    started to get more and more exposure to test automation and by that, I started to increase my technical skills.
    Later down the line I was able to transition to a software development position and worked as a Frontend Engineer
    for 3 years.
</p>
<p class="m-title relaxed">
    During my career I have gained a lot of experience working in agile/scrum methodology on projects with complex
    architecture and millions of users, working closely with my team to deliver value to the production environment as
    soon as possible.
</p>
<p class="m-title relaxed">
    My technology focus:
    <span class="list">
        Angular
        TypeScript
        JavaScript
        HTML
        SCSS
    </span>
</p>