.angular-title-wrapper {
    display: flex;
    height: 75px;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    & .content{
        -webkit-animation: slide-right 2.7s cubic-bezier(0.075, 0.82, 0.165, 1);
        animation: slide-right 2.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

.burger {
    font-size: 16px;
}

.burger-title a {
    font-size: 16px;
    font-weight: 700;
    color: rgb(148, 163, 184);
    text-decoration: none;
    transition: all ease-in-out 200ms;
    cursor: pointer;

    &:hover {
        color: white;
    }
    &.active{
        color: white;
        font-weight: 800;
    }
}

.sub-title {
    max-width: 300px;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
}