<main class="main">
    <div class="content">
        <p class="xl-title row-spacing">Gunars Lazdans</p>
        <div class="angular-title-wrapper">
            <span class="row-spacing l-title fancy">Frontend Engineer</span>
            <span class="row-spacing m-title relaxed sub-title">Translating designs and wireframes into code that enhances the digital experiences</span>
        </div>
    </div>
    <div class="burger">
<div class="burger-title" ><a (click)="toTop()">ABOUT</a></div>
<div class="burger-title"><a href="#work">WORK EXPERIENCE</a></div>
<div class="burger-title"><a href="#portf">PORTFOLIO</a></div>
<div class="burger-title"><a href="#ed">EDUCATION & COURSES</a></div>

    </div>
    <div class="media">
        <a
        href="https://www.linkedin.com/in/gunars-lazdans-346443155/"
        target="_blank"
      >
        <img
          src="assets/thumbnail/LI-Logo.png"
          height="30"
          style="margin: 12px; right: 17px"
          alt="Me"
        />
      </a>
      <a
      href="https://github.com/gunalazd"
      target="_blank"
    >
      <img
        src="assets/thumbnail/github_logo.png"
        height="30"
        style="margin: 12px; right: 17px"
        alt="Me"
      />
    </a>
    </div>
</main>
