.bubbles{
    margin-top: 5px;
    flex-wrap: wrap;
    display: flex;
}

.bubble {
    padding: 6px 12px;
    border-radius: 18px;
    margin: 10px 10px 0 0;
    font-weight: 500;
    color: rgb(94 234 212);
    background-color: rgba(45, 212, 191, .1);
}