.exp-wrapper.active {
    animation: flash-card 1.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  & .right-column {
	-webkit-animation: slide-left 1.7s cubic-bezier(0.075, 0.82, 0.165, 1);
	        animation: slide-left 1.7s cubic-bezier(0.075, 0.82, 0.165, 1);
            & >.l-title{
                -webkit-animation: slide-left 1.8s cubic-bezier(0.075, 0.82, 0.165, 1);
                animation: slide-left 1.8s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
}

& .left-column {
	-webkit-animation: slide-right 1.7s cubic-bezier(0.075, 0.82, 0.165, 1);
	        animation: slide-right 1.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}  
& .bubble{
    -webkit-animation: slide-left 1.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: slide-left 1.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
}
