.main {
    justify-content: center;
    gap: 10rem;
    display: flex;
}

.left-sticky {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vh;
    max-height: 80vh;
    justify-content: center;
    flex-direction: column;
    display: flex;
    top: 0;
    position: sticky;
}

.content-wrapper {
    display: flex;
    gap: 10rem;
    flex-direction: column;
    overflow-y: auto;
    max-width: 740px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    max-height: 80vh;
}


.right-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-top: 10vh;
    padding-bottom: 10vh;
}