<div class="wrapper">
  <div class="main">
    <div class="left-sticky">
      <app-intro></app-intro>
    </div>
    <div class="right-wrapper">
      <app-about id="about" inViewport
      [inViewportOptions]="{ threshold: [0] }"
      (inViewportAction)="onIntersection($event)"></app-about>
      <app-work id="work" inViewport
      [inViewportOptions]="{ threshold: [0] }"
      (inViewportAction)="onIntersection($event)"></app-work>
      <app-portf id="portf" inViewport
      [inViewportOptions]="{ threshold: [0] }"
      (inViewportAction)="onIntersection($event)"></app-portf>
      <app-education id="ed" inViewport
      [inViewportOptions]="{ threshold: [0] }"
      (inViewportAction)="onIntersection($event)"></app-education>
      <app-outro id="outro" inViewport
      [inViewportOptions]="{ threshold: [0] }"
      (inViewportAction)="onIntersection($event)"></app-outro>
    </div>
  </div>
</div>

<router-outlet />