<div class="section-title"> Portfolio </div>

<div class="port-wrapper ed l" inViewport
[inViewportOptions]="{ threshold: [0] }"
(inViewportAction)="onIntersection($event)">
    <div class="left-column">
        <img [src]="'assets/thumbnail/brite_site.png'" alt="logo" width="150">
    </div>
    <div class="right-column">
        <div class="l-title">Brite Payments</div> 
        <div class="m-title relaxed">UI and UX improvements for Brite payments application and internal tools. Upgrade of old Angular versions to the latest ones. Work independently and as part of small team. Developing new features and improving the existing ones.</div>
        <div class="portf-card-footer">
            <a target="_blank" href="https://britepayments.com/"> Visit site </a>
        </div>
    </div>
</div>

<div class="port-wrapper ed r" inViewport
[inViewportOptions]="{ threshold: [0] }"
(inViewportAction)="onIntersection($event)">
    <div class="left-column">
        <img [src]="'assets/thumbnail/old_site.png'" alt="logo" width="150">
    </div>
    <div class="right-column">
        <div class="l-title">Gunars Lazdans v1</div>
        <div class="m-title relaxed">First attempt on creating portfolio website</div>
        <div class="portf-card-footer">
            <a target="_blank" href="https://github.com/gunalazd/lazdans"> View code </a>
            |
            <a target="_blank" href="https://old.lazdans.com/"> Visit site </a>
        </div>
    </div>
</div>

<div class="port-wrapper ed l" inViewport
[inViewportOptions]="{ threshold: [0] }"
(inViewportAction)="onIntersection($event)">
    <div class="left-column">
        <img [src]="'assets/thumbnail/weather_site.png'" alt="logo" width="150">
    </div>
    <div class="right-column">
        <div class="l-title">Weather App</div>
        <div class="m-title relaxed">Good old weather app, no developers portfolio would feel finished without it</div>
        <div class="portf-card-footer">
            <a target="_blank" href="https://github.com/gunalazd/weather-app"> View code </a>
            |
            <a target="_blank" href="https://weather.lazdans.com/"> Visit site </a>
        </div>
    </div>
</div>

<div class="port-wrapper ed r" inViewport
[inViewportOptions]="{ threshold: [0] }"
(inViewportAction)="onIntersection($event)">
    <div class="left-column">
        <img [src]="'assets/thumbnail/bovada_site.png'" alt="logo" width="150">
    </div>
    <div class="right-column">
        <div class="l-title">The Workshop</div>
        <div class="m-title relaxed">Developing gambling platforms as a service. UI and UX improvements for  gambling sites. A lot of work with betslip and sports bets. Some involvement in back-end side of the project.</div>
        <div class="portf-card-footer">
            <a target="_blank" href="https://theworkshop.com/"> Visit site </a>
        </div>
    </div>
</div>
