body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  background-color: rgb(11 18 35);
  color: rgb(226 232 240);
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  /* Remove default margin */
  scroll-behavior: smooth;
}

.row-spacing {
  margin: 12px 0 0 0;
}

p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(49, 59, 82);
  outline: 1px solid rgb(33, 42, 61);
}

.descr {
  font-size: 16px;
  margin-bottom: 10px;
}

.l-title {
  font-size: 24px;
  font-weight: 700;
  color: rgb(226 232 240);
}

.m-title {
  font-size: 16px;
  font-weight: 300;
  color: rgb(226 232 240);
  line-height: 1;
}

.relaxed {
  line-height: 1.625;
  margin-bottom: 16px;
  font-weight: 500;
  color: rgb(148 163 184);
}

.xl-title {
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
}

.ml-1r {
  margin-left: 1rem;
  text-decoration: none;
}

.mt-1r {
  margin-top: 1rem;
  font-size: 14px;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.op-50 {
  color: rgb(226 232 240 / 70%);
  font-weight: 300;
}

.fancy {
  background: linear-gradient(to left, #7903FF, #DB187D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.gap-6 {
  gap: 6px;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  color: rgb(226 232 240);
  line-height: 1.25rem;
  margin: 0;
  text-transform: uppercase;
}

.exp-wrapper {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 0 1rem 1.5rem;
  max-width: 740px;
  cursor: pointer;
  transition: all ease-in-out 200ms;

  &:hover {
    border: 1px solid rgb(26, 39, 68);
    background-color: rgb(19, 28, 51);
  }

  & .left-column {
    flex: 2;
    min-width: 180px;
  }

  & .right-column {
    flex: 7;
  }
}

.mb-6rem {
  margin-bottom: 6rem;
}